* {
  font-family: 'Roboto', sans-serif;
}

$color-aqua: #1EACC7;
$color-lightRed: rgb(255, 86, 86);
@mixin btn_hover {
  &:hover {
    background-image: none;
    background-color: $color-aqua;
  }
}

header {
  position: relative;
  height: 54px;
}

nav {
  position: fixed;
  width: 100%;
  height: 54px;
  background: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 71px;
  list-style-type: none;

  .menu_link {
    color: white;
    font-weight: 300;
    font-size: 15px;
  }

  .menu_item {
    border-right: 2px dotted black;
    padding-right: 40px;
  }
}

.subheader {
  position: absolute;
  width: 100%;
  padding: 17px 0 20px 0;
  background: rgba(0, 0, 0, 0.6);
  height: 87px;

  .subheader_logo {
    display: block;
    max-width: 100%;
  }

  .subheader_descr {
    opacity: 0.5;
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
  }

  .subheader_call {
    margin-top: 5px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
  }

  .subheader_phone {
    margin-top: 2px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
  }

  .subheader_btn {
    position: absolute;
    margin-top: 3px;
    color: #FFFFFF;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    @include btn_hover;
  }
}

.promo {
  padding: 150px 0 185px 0;
  min-height: 799px;
  background: url(../img/bg/uber_bg.jpg) center (center / cover) no-repeat;

  .promo_header {
    margin: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
  }

  .promo_subheader {
    margin: 0;
    margin-top: 23px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .promo_descr {
    margin-top: 17px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 116px;
    color: #FFFFFF;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    @include btn_hover;
  }
}

.label {
  position: relative;
  margin: 0 auto;
  height: 27px;
  width: 115px;
  padding: 5px 12px;
  background: #000000;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 32px;
  color: #222222;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.sub_title {
  color: #222222;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

.reasons {
  padding: 18px 0 64px 0; 
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
  }

  &_round {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color_aqua;
    margin-right: 26px;
    width: 116px;
    height: 116px;
    border-radius: 100%;
  }

  &_descr {
    width: 371px; 
  }
  
  &_desc &_title {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
  }
  &_desc  &_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
  }
}

.mobile {
  min-height: 864px;
  background: url(../img/bg/mobile_bg.jpg) center (center / cover) no-repeat;
  padding: 48px 0 80px 0;
  .row_1 {
    margin-top: 30px;
  }
  &_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 88px;;
    &_1 {
      background: url(../img/card1.png);
    }
    &_2 {
      background: url(../img/card2.png);
    }
    &_3 {
      background: url(../img/card3.png);
    }
    &_4 {
      background: url(../img/card4.png);
    }
    &_5 {
      background: url(../img/card5.png);
    }
    &_6 {
      background: url(../img/card6.png);
    }
    &_descr {
      color: #FFFFFF;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      text-transform: uppercase;
    }
    &_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 34px;
      left: 50%;
      transform: translate(-50%);
      padding: 8px;
      background: #000000;
      width: 29px;
      height: 29px;
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer;
      &::before  {
        content: '';
        display: block;
        width: 14px;
        height: 2px;
        background-color: $color-aqua;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 14px;
        background-color: $color-aqua;
      }
      &:hover {
        &::before, &::after {
          background-color: $color-lightRed ;
        }
      }
      }
  }
}

.choice {
  min-height: 896px;
  background: url(../img/bg/choice1.jpg) center (center / cover) no-repeat;
  margin: 0 auto;
  padding: 57px 0 137px 0;
  .label {
    background: #FFFFFF;
    color: #000000;
  }
  .title {
    color: #FFFFFF;
    margin-top: 27px;
  }
  .sub_title {
    color: #FFFFFF;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
    
  }
  &_descr {
    color: #222222;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }
}

.require {
  padding: 68px 0 65px 0;
  .title {
    margin-top: 27px;
  }
  &_title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #1CA8C3;
  }
  &_descr {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #1CA8C3;
  }
  &_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px;
    li {
      position: relative;
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      color: #222222;
      margin-bottom: 10px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 21px;
        height: 20px;
        background: url(../icons/checkblue1.png) center (center / cover) no-repeat;
        left: -34px;
        top: 3px;
      }
    }
  }
  &_block {
    margin: 37px 0 24px 0;
  }
  .color {
    .require_title {
      color: $color-lightRed;
    }
    .require_list {
      li {
        &::before {
          background: url(../icons/checkred1.png);
        }
      }
    }
  }
}

.world {
  min-height: 717px;
  background: url(../img/bg/world_bg.jpg) center (center / cover) no-repeat;
  padding: 48px 0 22px 0;
  margin: 0 auto;
  &_link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: 457px;
    text-transform: uppercase;
    color: #1FBAD6;
    
  }
}
.label {
  background: #FFFFFF;
  color: #000000;
}
.title {
  color: #FFFFFF;
  margin-top: 27px;
}
.sub_title {
  color: #FFFFFF;
}
